In [3]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [4]:
# pandas query
# By using query, you can simply filter down a dataframe in a more readable format.
df = sns.load_dataset('taxis')

In [5]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [6]:
df.query('passengers == 3')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.00,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
15,2019-03-16 17:53:34,2019-03-16 18:13:57,3,2.09,13.5,0.00,0.00,16.80,yellow,cash,Upper West Side North,Clinton East,Manhattan,Manhattan
31,2019-03-01 02:55:55,2019-03-01 02:57:59,3,0.74,4.0,0.00,0.00,7.80,yellow,cash,Clinton East,West Chelsea/Hudson Yards,Manhattan,Manhattan
59,2019-03-09 19:24:01,2019-03-09 19:33:32,3,0.82,7.0,2.00,0.00,12.30,yellow,credit card,TriBeCa/Civic Center,Lower East Side,Manhattan,Manhattan
68,2019-03-22 02:22:01,2019-03-22 02:30:21,3,1.22,7.5,0.00,0.00,11.30,yellow,cash,Clinton East,Midtown North,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198,2019-03-14 20:27:09,2019-03-14 21:11:40,3,19.62,54.0,0.00,5.76,61.06,green,credit card,Downtown Brooklyn/MetroTech,Norwood,Brooklyn,Bronx
6232,2019-03-21 19:29:01,2019-03-21 19:36:20,3,0.80,6.0,0.00,0.00,7.80,green,cash,Jackson Heights,Elmhurst,Queens,Queens
6269,2019-03-13 13:48:54,2019-03-13 14:22:07,3,9.88,32.0,7.11,0.00,42.66,green,credit card,Washington Heights South,Kips Bay,Manhattan,Manhattan
6303,2019-03-03 16:45:58,2019-03-03 16:57:14,3,1.30,8.5,2.32,0.00,11.62,green,credit card,Boerum Hill,Park Slope,Brooklyn,Brooklyn
6364,2019-03-06 16:13:48,2019-03-06 16:34:05,3,6.82,23.5,5.61,0.00,33.66,green,credit card,Washington Heights South,West Chelsea/Hudson Yards,Manhattan,Manhattan

In [7]:
df.query('passengers > 3')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
19,2019-03-25 22:04:25,2019-03-25 22:11:30,6,1.08,6.5,1.08,0.0,11.38,yellow,credit card,East Chelsea,East Chelsea,Manhattan,Manhattan
23,2019-03-04 12:15:39,2019-03-04 12:26:53,5,1.09,8.5,2.36,0.0,14.16,yellow,credit card,Sutton Place/Turtle Bay North,Midtown North,Manhattan,Manhattan
24,2019-03-24 09:53:28,2019-03-24 10:01:22,5,2.89,9.5,3.84,0.0,16.64,yellow,credit card,Lenox Hill West,Gramercy,Manhattan,Manhattan
51,2019-03-16 17:38:47,2019-03-16 17:56:04,4,1.89,12.0,0.00,0.0,15.30,yellow,cash,Midtown North,Union Sq,Manhattan,Manhattan
57,2019-03-17 13:55:43,2019-03-17 14:01:39,4,0.71,5.5,1.76,0.0,10.56,yellow,credit card,UN/Turtle Bay South,Midtown Center,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6369,2019-03-26 18:15:56,2019-03-26 18:41:22,6,6.81,23.0,2.00,0.0,26.80,green,credit card,Astoria,Middle Village,Queens,Queens
6370,2019-03-26 09:09:46,2019-03-26 09:13:59,5,0.51,4.5,1.06,0.0,8.31,green,credit card,Clinton Hill,Crown Heights North,Brooklyn,Brooklyn
6403,2019-03-22 03:28:18,2019-03-22 03:43:44,4,4.07,14.5,0.00,0.0,15.80,green,cash,Elmhurst,College Point,Queens,Queens
6412,2019-03-20 17:33:25,2019-03-20 17:42:48,5,1.40,8.0,0.00,0.0,9.80,green,cash,Brooklyn Heights,Fort Greene,Brooklyn,Brooklyn
6421,2019-03-24 09:07:15,2019-03-24 09:36:45,6,10.23,33.0,0.00,0.0,33.80,green,credit card,East Flatbush/Farragut,South Ozone Park,Brooklyn,Queens

In [ ]:
df.query('passengers < 3')

In [ ]:
df.query('passengers <= 3')

In [ ]:
df.query('passengers != 3')

In [ ]:
df.query('pickup_borough == "Manhattan"')

In [ ]:
df.query('pickup_borough == "Manhattan" and passengers <= 3')

In [ ]:
df.query('pickup_borough == "Manhattan" or passengers <= 3')

In [ ]:
df.query('pickup_borough in ("Manhattan", "Brooklyn")')

In [ ]:
df.query('pickup_borough not in ("Manhattan", "Brooklyn")')

In [8]:
boroughs = ['Manhattan', 'Brooklyn']
# To filter based on a variable, you will have to use @ and then the variable name. 
df.query('pickup_borough not in @boroughs')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
10,2019-03-16 10:02:25,2019-03-16 10:22:29,1,3.90,17.0,0.00,0.00,17.80,yellow,cash,LaGuardia Airport,Astoria,Queens,Queens
22,2019-03-28 17:20:54,2019-03-28 17:55:57,1,9.82,31.5,8.31,5.76,49.87,yellow,credit card,LaGuardia Airport,Sutton Place/Turtle Bay North,Queens,Manhattan
42,2019-03-30 23:59:14,2019-03-30 23:59:17,1,0.00,80.0,20.08,0.00,100.38,yellow,credit card,NaN,NaN,NaN,NaN
43,2019-03-27 19:39:16,2019-03-27 20:00:26,1,9.50,28.0,0.00,5.76,35.06,yellow,cash,LaGuardia Airport,Washington Heights South,Queens,Manhattan
53,2019-03-20 18:49:24,2019-03-20 19:12:40,1,13.45,36.0,0.00,0.00,37.80,yellow,cash,JFK Airport,Sunnyside,Queens,Queens
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6417,2019-03-10 12:10:45,2019-03-10 12:43:05,2,11.17,35.0,0.00,5.76,41.56,green,credit card,Hillcrest/Pomonok,Flatiron,Queens,Manhattan
6418,2019-03-02 21:47:50,2019-03-02 21:55:34,1,1.48,7.5,1.76,0.00,10.56,green,credit card,Forest Hills,Kew Gardens Hills,Queens,Queens
6423,2019-03-12 08:10:47,2019-03-12 08:35:35,1,4.30,18.5,0.00,0.00,19.30,green,credit card,Saint Albans,Hillcrest/Pomonok,Queens,Queens
6427,2019-03-23 18:26:09,2019-03-23 18:49:12,1,7.07,20.0,0.00,0.00,20.00,green,cash,Parkchester,East Harlem South,Bronx,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.00,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx

In [ ]:
passengers = 5
df.query('passengers == @passengers')

In [ ]:
df.query('distance * 3 < 10')

In [ ]:
df.query('distance * passengers < 10')

In [ ]:
df.query('color.str.contains("yel")')

In [ ]:
df.query('dropoff.dt.month ==2')

In [ ]:
df.query('dropoff_zone.isna() == 1')

In [9]:
df.query('dropoff.dt.month ==2')['payment']

6203    cash
Name: payment, dtype: object

In [10]:
df.query('dropoff.dt.month ==2')[['total','payment']]

      total payment
6203    6.3    cash